<form (submit)="onSubmit()" class="w-full md:w-1/2 rounded mt-3 mx-auto flex items-center justify-between border border-black focus-within:border-2">
    <input type="text" placeholder="Search..." class="w-[80%] rounded  py-2 px-3 focus:outline-0 " [(ngModel)]="searchTerm" name="searchTerm">
    <button class=" text-slate-900 py-2 px-3  h-full cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
        </svg>
    </button>
</form>